@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap");
@font-face {
  font-family: "Vanilla";
  src: url(./fonts/Vanilla.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f4eddc;
  cursor: url(/svg/arrow.svg) 0 0, auto;
}

.cursor {
  position: absolute;
  min-height: 25px;
  display: none;
  z-index: 10;
}

.cursor img {
  margin-left: 5px;
}

.cursor_bg {
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-block;
  border-radius: 50%;
  -webkit-animation: cursor_anim 1s infinite;
          animation: cursor_anim 1s infinite;
}

.cursor_bg::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  border: 8px solid #fff;
  background: #fff;
  opacity: 0.3;
  top: -8px;
  left: -8px;
  -webkit-animation: cursor_anim2 1s infinite;
          animation: cursor_anim2 1s infinite;
  border-radius: 50%;
}

@-webkit-keyframes cursor_anim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursor_anim {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cursor_anim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes cursor_anim2 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

.cursor_text {
  margin-top: -70px;
  margin-left: 30px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}

.cursor_text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #262626;
  width: 0%;
  overflow: hidden;
  -webkit-transition: 3s;
  transition: 3s;
}

main {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
}

main .container {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .main_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: mouth_hold 5s;
          animation: mouth_hold 5s;
  width: 50%;
  font-size: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 5px 5px 5px #000;
  line-height: 3em;
}

main .container .main_text:hover {
  cursor: url(/svg/hand.svg) 0 0, pointer !important;
}

main .container .balloon {
  -webkit-animation: blow 5s;
          animation: blow 5s;
  position: absolute;
  top: 20%;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  opacity: 1;
}

main .container .balloon_bg {
  fill: red;
}

main .container #person {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

main .container #person .shit {
  display: none;
}

main .container #person .mouth_1 {
  opacity: 1;
  -webkit-animation: mouth_hold 2s;
          animation: mouth_hold 2s;
}

main .container #person .mouth_2_move {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-animation: mouth_move 2s;
          animation: mouth_move 2s;
  opacity: 0;
}

@-webkit-keyframes mouth_hold {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mouth_hold {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes mouth_move {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  15% {
    -webkit-transform: translate(-9px, 9px);
            transform: translate(-9px, 9px);
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translate(-12px, 12px);
            transform: translate(-12px, 12px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(-9px, 9px);
            transform: translate(-9px, 9px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  35% {
    opacity: 1;
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  45% {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(-9px, 9px);
            transform: translate(-9px, 9px);
  }
  60% {
    -webkit-transform: translate(-12px, 12px);
            transform: translate(-12px, 12px);
    opacity: 1;
  }
  65% {
    opacity: 1;
    -webkit-transform: translate(-9px, 9px);
            transform: translate(-9px, 9px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(-9px, 9px);
            transform: translate(-9px, 9px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-12px, 12px);
            transform: translate(-12px, 12px);
  }
}

@keyframes mouth_move {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  15% {
    -webkit-transform: translate(-9px, 9px);
            transform: translate(-9px, 9px);
    opacity: 1;
  }
  20% {
    opacity: 1;
    -webkit-transform: translate(-12px, 12px);
            transform: translate(-12px, 12px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(-9px, 9px);
            transform: translate(-9px, 9px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  35% {
    opacity: 1;
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  45% {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(-9px, 9px);
            transform: translate(-9px, 9px);
  }
  60% {
    -webkit-transform: translate(-12px, 12px);
            transform: translate(-12px, 12px);
    opacity: 1;
  }
  65% {
    opacity: 1;
    -webkit-transform: translate(-9px, 9px);
            transform: translate(-9px, 9px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  85% {
    opacity: 1;
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(-6px, 6px);
            transform: translate(-6px, 6px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(-9px, 9px);
            transform: translate(-9px, 9px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-12px, 12px);
            transform: translate(-12px, 12px);
  }
}

nav {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

@-webkit-keyframes blow {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  55% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.3;
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 1;
  }
}

@keyframes blow {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  55% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.3;
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */